{% extends 'app/layout.html' %}

{% block title %}tambah{% endblock %}

{% block content %}
    <div class="w-full max-w-lg bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">Tambah Data</h2>
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <div class="space-y-4">
                {{ form }}
            </div>
            <button type="submit" class="w-full bg-green-500 text-white py-2 rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">Save Produk</button>
        </form>
    </div>
{% endblock %}